@import url(reset.css);

/* freecycle3 */
*{-webkit-text-size-adjust:none;}
body{width:375px;font-size: 15px;font-family: 'Nanum Gothic', sans-serif;}
a{text-decoration:none;color:#3B3939;}

.freecycle3{width:100%;background: #EFEFEF;overflow: hidden;}
.freecycle3 > div:first-of-type > ul{display:flex;flex-direction:row;justify-content:center;align-items:center;padding:57px 0 35px 0;box-sizing: border-box;margin-left: -116px;}
.freecycle3 > div:first-child > ul > li:first-child{display: inline-block;width:15px;height:11px;background: url(../images/icon_return.png) no-repeat 0 0;text-indent: -9999px;overflow: hidden;vertical-align: middle;margin-right: 100px;}
.freecycle3 > div:first-child > ul > li:first-child > a{display: block;}
.freecycle3 > div:first-child > ul > li:last-child{font-weight: bold;}


.freecycle3 > ul:first-of-type{display: flex;flex-direction: row;margin-left:45px;margin-bottom: 24px;}
.freecycle3 > ul:first-of-type > li:first-child > a{display:inline-block;width:330px;height:60px;background:url(../images/bg_round_left.png) no-repeat 0 0;line-height: 60px;text-indent:45px;color:#fff;animation: round_menu 0.5s linear 0s,scale_ani 2s linear 1.2s infinite;}
.freecycle3 > ul:first-of-type > li:last-child > a{display:inline-block;width:178px;height:60px;background:url(../images/bg_round_right_on.png) no-repeat 0 0;line-height: 60px;text-indent:44px;color:#fff;margin-left: -178px;animation: round_menu 1s linear 0s;}

@keyframes round_menu {
    0%{transform: translateX(100px);}
    100%{transform: translateX(0);}
    
}

@keyframes scale_ani {
    0% {
        transform: scale(1);}

    25% {
        transform: scale(1.2);}

    50% {
        transform: scale(1);}

    75% {
        transform: scale(1.1);}
        
    100% {
        transform: scale(1);}
    
}

.info{display: flex;flex-direction: column;justify-content: center;align-items: center;}
.info > form > fieldset > legend{font-size: 14px;font-weight: bold;margin-bottom: 9px;animation: ani1 1.3s linear 0s;}
.info > form > fieldset > ol{display: flex;flex-direction: column;justify-content: center;align-items: center;}
.info > form > fieldset > ol > li > input[type="text"]{width:333px;height: 44px;border: 1px solid #3B3939;border-radius: 14px;background: #EFEFEF;text-indent:14px;margin-bottom: 13px;}
.info > form > fieldset > ol > li > input[type="tel"]{width:333px;height: 44px;border: 1px solid #3B3939;border-radius: 14px;background: #EFEFEF;text-indent:14px;margin-bottom: 13px;}
input::placeholder{font-size: 14px;color:#000;text-indent:14px;}

.info > form > fieldset > ol > li:first-child{animation: ani2 0.8s linear 0s;}
.info > form > fieldset > ol > li:nth-child(2){animation: ani2 1s linear 0s;}
.info > form > fieldset > ol > li:last-child{position: relative;animation: ani3 1s linear 0s;}

.info > form > fieldset > ol > li:last-child > input:first-of-type[type="text"]{display:block;}
.info > form > fieldset > ol > li:last-child > input:nth-of-type(2)[type="text"]{width:159px;margin-right:9px;margin-bottom: 0;}
.info > form > fieldset > ol > li:last-child > input:last-of-type[type="text"]{width:159px;margin-bottom: 0;}

.info > form > fieldset > ol > li:last-child > span{display: inline-block;position: absolute;right:6px;top:5px;}
.info > form > fieldset > ol > li:last-child > span > a{display:block;width:72px;height:35px;line-height:35px;text-align:center;color:#fff;background:#979191;border-radius: 12px;}

@keyframes ani1 {
    0%{opacity: 0;}
    100%{opacity: 1;}
    
}

@keyframes ani2 {
    0% {transform: translateX(-100px);}
    100% {transform: translateX(0);}  
}

@keyframes ani3 {
    0% {transform: translateX(100px);}
    100% {transform: translateX(0);}  
    
}

.freecycle3 > p:first-of-type{text-align:center;font-size:14px;margin-top: 20px;animation: ani4 1s linear 0s;}
.freecycle3 > p:first-of-type > span{display: inline-block;width:20px;height:20px;background: url(../images/btn_agree.png) no-repeat 0 0;text-indent:-9999px;overflow: hidden;vertical-align: middle;margin-left:14px}

@keyframes ani4 {
    0% {transform: translateY(50px);}
    100% {transform: translateX(0);}  
    
}

.freecycle3 > ul:last-of-type{display: flex;flex-direction: row;justify-content: center;align-items: center;margin-top: 37px;margin-left: -80px;animation: ani5 1s linear 0s;}

@keyframes ani5 {
    0% {transform: scale(1.2);}
    100% {transform: scale(1);}  
    
}

.freecycle3 > ul:last-of-type > li{font-size: 14px;}
.freecycle3 > ul:last-of-type > li:first-child{font-weight: bold;}
.freecycle3 > ul:last-of-type > li:nth-child(2) > a{display: block;width:35px;height:26px;background: url(../images/icon_camera.png) no-repeat 0 0;text-indent:-9999px;overflow: hidden;margin:0 15px 0 29px;}
.freecycle3 > ul:last-of-type > li:last-child > a{display: block;width:72px;height:35px;line-height: 35px;text-align: center;color:#fff;background:#979191;border-radius: 12px;}

.photo{display: flex;flex-direction: row;justify-content: center;margin-top: 19px;}
.photo > span{display: inline-block;width:75px;height:82px;background: #FFBCBC;border:1px solid #757575;margin-right: 11px;text-indent:-9999px;overflow:hidden;}
.photo > span:first-child{animation: ani6 0.5s linear 0s;}
.photo > span:nth-child(2){animation: ani6 0.7s linear 0s;}
.photo > span:nth-child(3){animation: ani6 0.9s linear 0s;}
.photo > span:last-child{margin-right: 0;animation: ani6 1.1s linear 0s;}

@keyframes ani6 {
    0% {transform: translateY(-40px);}
    100% {transform: translateY(0);}  
    
}

.freecycle3 > p:last-of-type{width:333px;margin: 0 auto;font-size: 14px;margin-top: 28px;}
.freecycle3 > span{display: block;padding:28px 0 35px 0;}
.freecycle3 > span > a{display: block;width:146px;height:45px;line-height:45px;text-align:center;margin:0 auto;background: #FFBCBC;}